:root{
    --branco-normar: #ffffff;
    --botao-amarelo: #FFFF00;
    --cor-fundo: #000000;
}

body{
background-color: var(--cor-fundo);
color: var(--branco-normar);
background-image: url(img/placio.jpeg);
background-repeat: no-repeat;
background-size: 600px 250px;
}

p{
    font-size: 10px;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 28px;
}

.botao{
   width: 140px;
   height: 50px; 
   background-color: var(--botao-amarelo);
   font-size: 28px;
   text-decoration: dashed;
   border-radius: 12px;
   margin: 20px;
}

strong{
    color: var(--botao-amarelo);
}

button{
    background-color: var(--botao-amarelo);
}

.principal {
    display: flex;
}

.dois {
    display: flex;
}

