:root{
    --branco-normar: #ffffff;
    --botao-amarelo: #FFFF00;
    --cor-fundo: #000000;
}

body{
background-color: var(--cor-fundo);
color: var(--branco-normar);
}

p{
    font-size: 10px;
}

h1{
    font-size: 50px;
}

strong{
    color: var(--botao-amarelo);
}

button{
    background-color: var(--botao-amarelo);
}

.principal {
    display: flex;
}

.dois {
    display: flex;
}
