:root{
    --branco-normar: #ffffff;
    --botao-amarelo: #FFFF00;
    --cor-fundo: #000000
}

body{
background-color: var(--cor-fundo);
color: var(--branco-normar)
}

h1{
    font-size: 50px;
}

strong{
    color: var(--botao-amarelo);
}
